.hero {
  color: #231e1e;
  font-size: 48px;
  line-height: 64px;
  padding: 128px 0 152px 0;
  text-align: left;
}
.hero_text {
  align-items: center;
  display: flex;
  padding-right: 20px;
}
.hero_img_box {
  align-items: center;
  display: flex;
  height: 384px;
  overflow: hidden;
  min-width: 516px;
  width: 516px;
}
.hero_img_box img {
  width: 100%;
}
.hero_content {
  display: flex;
  width: 100%;
}
.section {
  display: flex;
  margin: auto;
  width: 100%;
}
.section_content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1056px;
  width: 1056px;
}
.testimonial {
  background-color: #231e1e;
  padding: 128px 0;
  text-align: left;
}
.testimonial_content {
  margin-right: auto;
  max-width: 948px;
  padding: 112px 0;
  position: relative;
}
.testimonial_text {
  color: #f1f0f0;
  font-size: 24px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
.author {
  bottom: 0;
  color: #989898;
  font-size: 24px;
  line-height: 29px;
  position: absolute;
  text-align: left;
}
.quotation_mark {
  position: absolute;
  top: 0;
}
.newsletter {
  padding: 128px 0;
}
.newsletter_content {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  padding-bottom: 70px;
  position: relative;
  width: 624px;
}
.newsletter_form {
  display: flex;
}
.newsletter_input {
  background-color: #f1f0f0;
  border: none;
  border-radius: 24px;
  color: #231e1e;
  font-size: 16px;
  height: 48px;
  line-height: 19px;
  padding-left: 32px;
  text-align: left;
  width: 416px;
}
.newsletter_text {
  color: #231e1e;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
}
.thank_you_for_signin,
.error {
  bottom: 0;
  color: #5edc4b;
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  width: 624px;
}
.error {
  color: #dc4b4b;
}
